<% provide(:title, "Slack App") %>
<div class="invite_success">
<h2>Member Inviation Sent Successfully</h2>
<br><br>
<br>
  <div class="col-md-4 col-md-offset-4">
  <%= form_for(:workspace, url: "#") do |f| %>
      <%= f.submit "Back Home Page", class:"btn btn-primary btn-lg btn-block"%>
      <% end %>
  </div>
  
  </div>
